:root {
  --primary-0: hsl(180, 100%, 25%);
  --primary-1: hsl(180, 40%, 60%);
  --primary-2: hsl(180, 40%, 75%);

  --secondary: hsl(0, 0%, 100%);

  --accent-0: hsl(39, 96%, 60%);
  --accent-1: hsl(39, 96%, 75%);
  --accent-2: hsl(39, 96%, 90%);

  --background: hsl(0, 0%, 96%);

}

body {
  margin: 0;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background) !important;
}

hr {
  margin: 0 1.5% !important;
  border-top: 2px solid black !important;
  opacity: 1 !important;
}

.navbar {
  background-color: var(--primary-0);
  padding: 0 !important;
}

.navbar-brand {
  color: var(--secondary) !important;
  font-size: x-large !important;
  font-weight: 600 !important;
  margin-inline: 10px !important;
  margin-block: auto !important;
}

.nav-link {
  font-size: large !important;
  font-weight: 500 !important;
  background-color: var(--primary-1) !important;
  margin-inline: 10px !important;
  margin-block: auto !important;
  padding-inline: 10px !important;
  padding-block: 2px !important;
  border-radius: 10px !important;
}

.list-group {
  width: 100%;
}

.list-group-item {
  border: none !important;
}

.genres-box {
  background-color: var(--primary-2);
  border-radius: 10px;
  max-width: 900px;
}

.genre-list .list-group-item {
  display: inline-flex;
  justify-content: space-evenly;
  background-color: var(--secondary) !important;
  width: 20%;
  padding-block: 6px;
  margin: 10px 0;
  border-radius: 30px !important;
}

.genre-list .list-group-item span {
  font-size: large;
  margin-block: auto;
}

.genre-list .list-group-item svg {
  width: 30px;
  height: 30px;
}

.contributions-box {
  background-color: var(--accent-1);
  border: 1px solid gray;
  border-radius: 10px;
  max-width: 900px;
}

.contributions-box .list-group-item {
  background-color: inherit !important;
  padding-block: 20px;
}

.book-box {
  display: flex;
  background-color: #ffffff;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
}

.rating-box {
  max-width: 70%;
  aspect-ratio: 1 / 1;
  background-color: lightgray;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.rating-fill {
  width: 100%;
  background-color: var(--accent-0);
}

.rating-text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.filters-box {
  background-color: var(--primary-2);
  border-radius: 10px;
  padding: 10px;
  position: sticky;
  top: 2%;
}