@import url("https://fonts.googleapis.com/css?family=Ubuntu");
@import url("https://fonts.googleapis.com/css?family=Roboto");

:root {
  --primary-0: hsl(180, 100%, 25%);
  --primary-1: hsl(180, 40%, 60%);
  --primary-2: hsl(180, 40%, 75%);

  --accent-0: hsl(39, 96%, 60%);
  --accent-1: hsl(39, 96%, 75%);
  --accent-2: hsl(39, 96%, 90%);

  --background: hsl(0, 0%, 96%);

}

body {
  margin: 0;
  width: 100%;
  font-family: 'Roboto', 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background) !important;
}


.no-style {
  all: unset;
}

hr {
  margin: 0 1.5% !important;
  border-top: 2px solid black !important;
  opacity: 1 !important;
}

td {
  border-block: 1px solid lightgray !important;
}

.pointer {
  cursor: pointer !important;
}

button[type="submit"]:hover {
  background-color: initial;
  color: initial;
  text-decoration: none;
}

input[type='checkbox'],
input[type='radio'] {
  transform: scale(1.4);
}

input {
  accent-color: var(--primary-0);
}

textarea {
  accent-color: var(--primary-0);
}

.button-pill {
  display: block;
  padding: 10px 20px;
  border-radius: 25px;
  background-color: var(--primary-2);
  text-decoration: none;
  border: none;
  outline: none;
  width: fit-content !important;
  height: fit-content !important;
  margin: 0 auto;
  cursor: pointer;
}

.highlight {
  background-color: var(--accent-2);
  border-radius: 10px;
}

.light-bold {
  font-weight: 500 !important;
}

.square-box {
  background-color: white;
  border: 1px solid lightgray;
  width: fit-content;
  height: fit-content;
  margin: 15px;
  padding: 15px;
}

.navbar {
  background-color: var(--primary-0);
  padding: 0 !important;
  /*position: sticky !important;
  top: 0;*/
}

.navbar-brand {
  color: white !important;
  font-size: x-large !important;
  font-weight: 600 !important;
  margin-inline: 10px !important;
  margin-block: auto !important;
}

.nav-link {
  font-size: large !important;
  background-color: var(--primary-1) !important;
  margin-inline: 10px !important;
  margin-block: auto !important;
  padding-block: 2px !important;
  border-radius: 10px !important;
  width: 120px;
}

.list-group {
  width: 100%;
}

.list-group-item {
  border: none !important;
}

.pagination {
  justify-content: center;
}

.page-item.active .page-link {
  color: white !important;
  background-color: var(--primary-0) !important;
}

.page-link {
  color: var(--primary-0) !important;
  cursor: pointer;
}

.genres-box {
  background-color: var(--primary-2);
  border-radius: 10px;
}

.genre-list .list-group-item {
  display: inline-flex;
  justify-content: space-evenly;
  background-color: white !important;
  width: 20%;
  padding-block: 6px;
  margin: 10px 0;
  border-radius: 30px !important;
}

.genre-list .list-group-item span {
  font-size: large;
  margin-block: auto;
}

.genre-list .list-group-item svg {
  width: 30px;
  height: 30px;
}

.book-item {
  flex-basis: 25%; /* 25% to create a 4-column grid */
  box-sizing: border-box;
  padding: 8px; /* Add some spacing between the books */
  min-width: 90px; /* Set the minimum width of each book container to 90px */
}

.content-box {
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 10px;
}

.warning-box {
  background-color: var(--accent-2);
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
}

.rating-box {
  aspect-ratio: 1 / 1;
  background-color: lightgray;
  position: relative;
  display: flex;
  align-items: flex-end;
}

.rating-fill {
  width: 100%;
  background-color: var(--accent-0);
}

.rating-text {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.filters-box {
  background-color: var(--primary-2);
  border-radius: 10px;
  padding: 10px;
  /*position: sticky;
  top: 2%;*/
}

.dropdown-menu {
  width: fit-content !important;
  min-width: unset !important;
}

.dropdown-toggle {
  display: inline;
  color: black !important;
  background-color: white !important;
  border: 1px solid gray !important;
}

.dropdown-item:active {
  background-color: var(--primary-1) !important;
}

.modal-dialog {
  width: fit-content !important;
  min-width: 30% !important;
  max-width: 100% !important;
}

.modal-content {
  background-color: var(--background) !important;
}

.suggestions-popup {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  list-style: none;
  padding-left: 0;
}

.suggestion-item {
  padding: 8px;
  cursor: pointer;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}